
   
          <div class="sidebar ">
            <div class="col-md-12">
                <i class="fas fa-layer-group" (click)="toggleCollection('collection')" ><p class="headings">Collection</p> </i>
                <i class="fas fa-door-closed" (click)="toggleenv('environment')"><p class="headings">Environment</p></i>
                <i class="fas fa-network-wired" (click)="toggleapis('apis')"><p class="headings">Apis</p></i>
                <i class="fas fa-laptop-code" (click)="mockserv('mock-services')"><p class="headings">Mock-Services</p></i>
                <i class="fas fa-suitcase" (click)="monitor('monitor')"><p class="headings">Monitor</p></i>
                <i class="fas fa-project-diagram" (click)="flow('flow')"><p class="headings">Flow</p></i>
                <i class="fas fa-history" (click)="history('history')"><p class="headings">History</p></i>
            </div>
          </div>
      
 