<div class="header">
  <div class="left">
    <label class="firsthead">Home</label>
    <label class="firsthead">Workspace</label>
  </div>
  <div class="center">
    <Button><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;invite</Button>
    &nbsp;&nbsp;<i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div class="right">
    <div class="iconss">
      <i class="fas fa-bell"></i>
      <i class="fas fa-cog"></i>
      <img class="imgs" src="./../../../assets/images/prof.png" alt="" />
    </div>
    <button class="btn btn-light">
      <i class="fas fa-users">&nbsp;Team</i>
    </button>
  </div>
</div>
